<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SAVING YOU FROM LACK OF PICKUP</title>
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
  <h1> THIS SITE WAS DEDICATED TO SAVE YOU LOVERS FROM A LACK OF CHEESY PICKUP LINES ! ! </h1>
  <div id = 'haha'>
  <p> This website was designed to save one from loading some dumb website with extra cheesy pickup lines. See someone you like?? Enter your number in the box and hit enter to get a text to use on that special somebody.</p>
</div>
  <form action= "/" method= "POST">Your number (in the form of +1-rest of number): <input type='text' name='number'><input type ="submit"></form>

  <br>
  <div id ='rip'>
  <p> This website is not responsible for your misfortunes. Please use this site at your own risk and if you fail, always get yourself some icecream. Shalom. </p>
</div>
</body>
</html>