body {
  background-image:url(http://38.media.tumblr.com/66543c12049bb0cbb109d77b7e0f02bb/tumblr_mohzbaD6qQ1r6lmy7o1_400.gif);
}
h1 {
  font: arial;
  font-size: 25;
  text-align: center;
}
#haha {
  font: arial;
  font-size: 20;
}
#rip {
  font: arial;
  font-size: 7;
}